*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightGreen: #628b48;
  --darkGreen: #214e34;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--darkGreen);
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--lightGreen);
  padding: 1.5rem;
  height: 100%;
  display: flex;
}

.nav li.active {
  background-color: #ddb8920f;
}
