.ghost-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 8px;
    border: 0;
    background-color: #00000000;
    transition: all 0.2s ease-in-out;
}

.ghost-button:hover {
    background-color: #0000001a;
}

.button-sm {
    width: 32px;
    height: 32px;
}